<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
    id="labs.akhdani.linphone"
    version="1.0.0">
    <name>LinPhone</name>
    <description>A plugin to integrate linphone features to cordova</description>
    <license>MIT</license>
    <keywords>cordova,phonegap,linphone,liblinphone</keywords>

    <engines>
        <engine name="cordova-android" version=">=4.0.0-dev" />
    </engines>

    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="Linphone">
                <param name="android-package" value="labs.akhdani.linphone.Linphone" />
            </feature>
        </config-file>

        <source-file src="src/android/Linphone.java" target-dir="src/labs/akhdani/linphone" />
        <source-file src="src/android/LinphoneMiniActivity.java" target-dir="src/labs/akhdani/linphone" />
        <source-file src="src/android/LinphoneMiniManager.java" target-dir="src/labs/akhdani/linphone" />
        <source-file src="src/android/LinphoneMiniUtils.java" target-dir="src/labs/akhdani/linphone" />
        <source-file src="res/layout/incall.xml" target-dir="res/layout" />
        <source-file src="res/raw/incoming_chat.wav" target-dir="res/raw" />
        <source-file src="res/raw/linphonerc_default" target-dir="res/raw" />
        <source-file src="res/raw/linphonerc_factory" target-dir="res/raw" />
        <source-file src="res/raw/lpconfig.xsd" target-dir="res/raw" />
        <source-file src="res/raw/oldphone_mono.wav" target-dir="res/raw" />
        <source-file src="res/raw/ringback.wav" target-dir="res/raw" />
        <source-file src="res/raw/toy_mono.wav" target-dir="res/raw" />
        <source-file src="res/raw/rootca.pem" target-dir="res/raw" />
        <source-file src="libs/linphone.jar" target-dir="libs" />
        <source-file src="libs/armeabi/liblinphone-armeabi.so" target-dir="libs/armeabi" />
        <source-file src="libs/armeabi-v7a/libffmpeg-linphone-arm.so" target-dir="libs/armeabi-v7a" />
        <source-file src="libs/armeabi-v7a/liblinphone-armeabi-v7a.so" target-dir="libs/armeabi-v7a" />
        <source-file src="libs/x86/libffmpeg-linphone-x86.so" target-dir="libs/x86" />
        <source-file src="libs/x86/liblinphone-x86.so" target-dir="libs/x86" />

        <js-module src="www/linphone.js" name="linphone">
            <merges target="linphone" />
        </js-module>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
            <uses-permission android:name="android.permission.WAKE_LOCK" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="labs.akhdani.linphone.LinphoneMiniActivity" android:theme="@android:style/Theme.Black.NoTitleBar" />
        </config-file>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Linphone">
                <param name="ios-package" value="Linphone"/>
            </feature>
        </config-file>
        <header-file src="src/ios/Linphone.h"/>
        <source-file src="src/ios/Linphone.m"/>
    </platform>
</plugin>